<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>A propos</h4>
				<p>
					Jeune développeur, passioné par le web. <br>
					Je me spécialise dans le développement JavaScript et PHP
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>Me retrouver</h4>
				<p>
					<a href="https://github.com/jeremymichel">Github</a><br/>
					<a href="https://twitter.com/jeremymichel_">Twitter</a><br/>
					<a href="https://be.linkedin.com/in/jeremymichel91">LinkedIn</a>
				</p>
			</div><!-- /col-lg-4 -->

			<div class="col-lg-4">
				<h4>Où suis-je?</h4>
				<p>Gembloux, 5030 <br>
				Belgique</p>
			</div><!-- /col-lg-4 -->

		</div>

	</div>
</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ "/assets/js/hover.zoom.js" | prepend: site.baseurl }}" ></script>
    <script src="{{ "/assets/js/hover.zoom.conf.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
